<table id="listing" align="center" width="100%" cellpadding="1" cellspacing="1">
  <%  if  @subjects.empty? or @students.empty? or @fa_score_hash.empty?%>
    <tr class="tr-head">
      <td>No reports found for the search</td>
    </tr>
  <% else %>
    <tr class="tr-head">
      <td>Students</td>
      <% @subjects.each do |s| %>
        <td colspan="2"><%= s.name %></td>
      <% end %>
    </tr>
    <tr class="tr-head">
      <td> </td>
      <% @subjects.each do |s| %>
        <td>Grade</td>
        <td>Mark(%)</td>
      <% end %>
    </tr>
    <% @students.each do |s| %>
      <tr class="tr-<%= cycle('odd', 'even') %>">
        <td class="col-2"><%= s.full_name %> (<%= s.admission_no %>)</td>
        <% st=@fa_score_hash.find{|c,v| c==s.id} %>
        <% if st %>
          <% @subjects.each do |sub| %>
            <% sc=@fa_score_hash[s.id][sub.id.to_s] %>
            <% if sc  %>
              <td class="col-3"><%= @fa_score_hash[s.id][sub.id.to_s]['grade'] %></td>
              <td class="col-3"><%= @fa_score_hash[s.id][sub.id.to_s]['mark'] %></td>
            <% else %>
              <td class="col-3">-</td>
              <td class="col-3">-</td>
            <% end %>
          <% end %>
        <% else %>
          <% @subjects.each do |s| %>
            <td class="col-3">-</td>
            <td class="col-3">-</td>
          <% end %>
        <% end %>
      </tr>
    <% end %>
  <% end %>
</table>
<%  unless  @subjects.empty? or @students.empty? or @fa_score_hash.empty?%>
  <div class="button">
    <div class="pdf-button">
      <%= link_to "► CSV Export", {:controller => "cce_reports", :action => "generated_report_csv",:batch_id=>params[:assessment][:batch_id],:student_category_id=>params[:assessment][:student_category_id],:assessment_group=>params[:assessment][:assessment_group],:gender=>params[:assessment][:gender]},:target => '_blank' %>
    </div>
    <div class="pdf-button">
      <%= link_to "► PDF Report", {:controller => "cce_reports", :action => "generated_report_pdf",:batch_id=>params[:assessment][:batch_id],:student_category_id=>params[:assessment][:student_category_id],:assessment_group=>params[:assessment][:assessment_group],:gender=>params[:assessment][:gender],:page_height=>800},:target => '_blank' %>
    </div>
  </div>
<% end %>
