<div class="label-field-pair">
  <label for="select_batch"><%= t('select_batch') %></label>
</div>
<div class="fee_category_scroll">
  <div class="sel-list">
    <%= t('select') %>: <%= link_to_function "#{t('all')}", "$$('input.batches_box').each(function(checkbox) { checkbox.checked = true; });" %>,
    <%= link_to_function "#{t('none')}", "$$('input.batches_box').each(function(checkbox) { checkbox.checked = false; });batch_check();" %>
  </div>
  <% @batches.each do |batch| %>
    <div class="each_batch">
      <%= check_box_tag  "batch_id[batch_ids][]", batch.id,true, :class=>'batches_box' ,:onchange=>"batch_check();"%> <span><%= batch.full_name %></span>
    </div>
  <% end %>
</div>
