<% unless @fee_collections.empty? %>
  <div class="field_pair">
    <div class="label1"><%="#{t('total_amount')}" %></div>
    <div class="label2"><%=": #{currency} #{ precision_label(@total_amount)}" %></div>
  </div>
  <div class="submit-button">
    <%= link_to "#{t('export_as_csv')}" ,{:action=>'batch_fee_collections_csv',:sort_order=>@sort_order ,:id=>params[:id]},:target=>'_blank'  %>
  </div>
  <div class="extender"></div>
  <div id="page-yield">
    <table id="report_table" align="center" width="100%" cellpadding="1" cellspacing="1">
      <tr class="tr-head sub-heading">
        <td><%= t('no_text') %></td>
        <td><%= t('name') %></td>
        <td><%= t('start_date') %></td>
        <td><%= t('end_date') %></td>
        <td><%= t('due_date') %></td>
        <td><%= t('students') %></td>
        <td><%= "#{t('balance')} (#{currency})" %></td>
      </tr>
      <% page_count=0 %>
      <% @fee_collections.each_with_index do |b,@i| %>
        <% if params[:page].present? %>
          <% if params[:page].to_i >= 1 %>
            <% @i = @i  + (params[:page].to_i - 1) * @fee_collections.per_page.to_i %>
          <% end %> <%else %> <% @i = @i %>
        <% end %>
        <% page_count+=1 %>
        <tr class="tr-<%= cycle('odd', 'even') %>">
          <td class="col-5"> <%=@i+1 %></td>
          <td class="col-4"><%= link_to "#{b.name}", {:action=>'students_fee_defaulters' ,:collection_id=>b.id,:transaction_class=>b.class.name,:id=>params[:id]} %></td>
          <td class="col-3"><%= b.start_date.to_date %></td>
          <td class="col-3"><%= b.end_date.to_date %></td>
          <td class="col-3"><%= b.due_date.to_date %></td>
          <td class="col-3"><%= b.students_count %></td>
          <td class="col-4"><%=link_to "#{ b.balance.nil?? precision_label(0) : precision_label(b.balance)}" , {:action=>'students_fee_defaulters' ,:collection_id=>b.id,:transaction_class=>b.class.name,:id=>params[:id]} %></td>
        </tr>
      <% end %>
    </table>
    <% unless @fee_collections.per_page.to_i > @fee_collections.total_entries.to_i %>
      <div class="pagination_list">
        <div class="pagination_text">
          <%= "#{t('showing')} #{@i+1-(page_count-1)}-#{@i+1} #{t('of')} #{@fee_collections.total_entries}" %>
        </div>
        <%= will_paginate @fee_collections,:renderer => 'RemoteLinkRenderer' ,:page_links=>false,:params=>{:id=>params[:id]}%>
      </div>
    <% end %>
  </div>
<% else %>
  <p class="flash-msg"> <%= t('no_record_found') %></p>
<% end %>
