<% unless @students.blank? %>
  <div class="info">
    <div class="field_pair">
      <div class="label1"><%="#{t('total_amount')}" %></div>
      <div class="label2"><%=": #{currency} #{ precision_label(@total_amount)}" %></div>
    </div>
    <div class="field_pair">
      <div class="label1"><%= "#{t('total')} #{t('students')}" %></div>
      <div class="label2"><%=": #{ @students.total_entries }" %></div>
    </div>
  </div>
  <div class="submit-button">
    <%= link_to "#{t('export_as_csv')}" ,{:action=>'student_wise_fee_defaulters_csv',:sort_order=>@sort_order,:subject_id=>params[:subject_id]} ,:target=>'_blank' %>
  </div>
  <div class="extender"></div>
  <div id="page-yield">
    <table id="report_table" align="center" width="100%" cellpadding="1" cellspacing="1">
      <tr class="tr-head sub-heading">
        <td><%= t('no_text') %></td>

        <% if @sort_order=="first_name DESC" %>
          <td class="batch_order_select">
            <%= link_to_remote  "#{t('name')} &#8595;", :url=>{:action=>"student_wise_fee_defaulters",:sort_order=>"first_name ASC"} %>
          </td>
        <% elsif @sort_order=="first_name ASC" %>
          <td class="batch_order_select">
            <%= link_to_remote  "#{t('name')} &#8593;", :url=>{:action=>"student_wise_fee_defaulters",:sort_order=>"first_name DESC"} %>
          </td>
        <% else %>
          <td class="batch_order">
            <%= link_to_remote  "#{t('name')}", :url=>{:action=>"student_wise_fee_defaulters",:sort_order=>"first_name DESC"} %>
          </td>
        <% end %>

        <% if @sort_order=="admission_no DESC" %>
          <td class="batch_order_select">
            <%= link_to_remote  "#{t('admission_no')} &#8595;", :url=>{:action=>"student_wise_fee_defaulters",:sort_order=>"admission_no ASC"} %>
          </td>
        <% elsif @sort_order=="admission_no ASC" %>
          <td class="batch_order_select">
            <%= link_to_remote  "#{t('admission_no')} &#8593;", :url=>{:action=>"student_wise_fee_defaulters",:sort_order=>"admission_no DESC"} %>
          </td>
        <% else %>
          <td class="batch_order">
            <%= link_to_remote  "#{t('admission_no')}", :url=>{:action=>"student_wise_fee_defaulters",:sort_order=>"admission_no DESC"} %>
          </td>
        <% end %>
        <td><%= t('course_name')  %></td>
        <td><%= t('batch_name')  %></td>
        <td><%= t('fee_collections')  %></td>
        <td><%= "#{t('balance')} &#x200E;( #{currency} )&#x200E;"  %></td>
      </tr>
      <% page_count=0 %>
      <% @students.each_with_index do |s,@i| %>
        <% if params[:page].present? %>
          <% if params[:page].to_i >= 1 %>
            <% @i = @i  + (params[:page].to_i - 1) * @students.per_page.to_i %>
          <% end %> <%else %> <% @i = @i %>
        <% end %>
        <% page_count+=1 %>
        <tr class="tr-<%= cycle('odd', 'even') %>">
          <td class="col-5"> <%=@i+1 %></td>
          <% if @sort_order=="first_name ASC" or @sort_order=="first_name DESC" %>
            <td class="col-2 batch_order_select"><%=link_to  "#{s.full_name}" ,{:controller=>'student',:action=>'profile',:id=>s.student_id} %></td>
          <% else %>
            <td class="col-2"><%=link_to  "#{s.full_name}" ,{:controller=>'student',:action=>'profile',:id=>s.student_id} %></td>
          <% end %>
          <% if @sort_order=="admission_no ASC" or @sort_order=="admission_no DESC" %>
            <td class="col-2 batch_order_select"><%=link_to  "#{s.admission_no}" ,{:controller=>'student',:action=>'profile',:id=>s.student_id} %></td>
          <% else %>
            <td class="col-2"><%=link_to  "#{s.admission_no}" ,{:controller=>'student',:action=>'profile',:id=>s.student_id} %></td>
          <% end %>
          <td class="col-4"><%=link_to  "#{s.course_name} #{s.code} #{s.section_name}" ,{:action=>'batch_details',:id=>s.course_id} %></td>
          <td class="col-4"><%= s.batch_name %></td>
          <td class="col-4"><%= s.fee_collections_count %></td>
          <td class="col-4"><%= link_to "#{precision_label(s.balance)}" ,{:action=>"student_wise_fee_collections",:id=>s.student_id} %></td>
        </tr>
      <% end %>
    </table>
    <% unless @students.per_page.to_i > @students.total_entries.to_i %>
      <div class="pagination_list">
        <div class="pagination_text">
          <%= "#{t('showing')} #{@i+1-(page_count-1)}-#{@i+1} #{t('of')} #{@students.total_entries}" %>
        </div>
        <%= will_paginate @students,:renderer => 'RemoteLinkRenderer' ,:page_links=>false ,:params=>{:sort_order=>@sort_order,:gender=>params[:gender],:subject_id=>params[:subject_id]}%>
      </div>
    <% end %>
  <% else %>
    <p class="flash-msg"> <%= t('no_students_found') %></p>
  <% end %>
</div>
