<div id="content-header">
<%= show_header_icon %>
  <h1><%= t('reports_text') %></h1>
<div class='header-sep'>|</div>
<div class='sub-header'><%="#{t('subject')} #{t('details')}" %></div>

</div>


<% unless flash[:notice].nil? %>
  <p class="flash-msg"> <%= flash[:notice] %> </p>
<% end %>
<div id="page-yield">
  <% form_remote_for :subject_search ,:url=>{:action=>'subject_details'}  ,:loading=>"$('loader1').show();",:loaded=>"$('loader1').hide();" do |f| %>
    <div class="filter">
      <div class="label-field-pair">
        <label for="course_id"><%= t('select_courses') %></label>
        <div class="text-input-bg margin-left-10">
          <%= select :course, :course_id,
            @courses.map {|c| [c.full_name, c.id]},
            {:prompt => "Select a Course"},
            {:onChange => "#{remote_function(:url => {:action => "list_batches"},
            :with => "'course_id='+ value",
            :before => "Element.show('loader')",
            :success => "Element.hide('loader')"
            )}"} %> <%= image_tag("loader.gif",
            :align => "absmiddle",
            :border => 0,
            :id => "loader",
            :style =>"display: none;" ) %>
        </div>
      </div>
      <div class="grades">
        <div class="label-field-pair">
          <label for="subject_type"><%= t('subject_type') %></label>
        </div>
        <div class="fee_category_scroll1">
          <div class="each_batch1">
            <%= check_box :subject_search, :normal_subject, :checked => true,:onchange=>"subject_type_check();" %><%= t('normal_subject')%>
          </div>
          <div class="each_batch1">
            <%= check_box :subject_search, :elective_subject, :checked => true,:onchange=>"subject_type_check();" %><%= t('elective_subject') %>
          </div>
        </div>
      </div>
    </div>
    <div class="filter_batch">
      <div id="batch_list"></div>
    </div>
    <div class="extender"></div>
    <%= submit_tag "► #{t('search_text')}", :class=> 'submit_button', :disable_with => "#{t('please_wait')}"  %> <%= image_tag("loader.gif",
        :align => "absmiddle",
        :border => 0,
        :id => "loader1",
        :style =>"display: none;" ) %>
  <% end %>
</div>
<div class="extender"></div>
<div class="hor_line"></div>
<div id="information">
  <%= render  :partial => 'subject_list'%>
</div>
<script type="text/javascript">
  function subject_type_check()
  {
    if($('subject_search_normal_subject').checked==false && $('subject_search_elective_subject').checked==false){
      alert('<%= "#{t('select_one_subject_type')}"%>');
      $('subject_search_normal_subject').checked=true;
    }
  }
</script>
