<%-# Fedena
#Copyright 2010 Foradian Technologies Private Limited
#
#This product includes software developed at
#Project Fedena - http://www.projectfedena.org/
#
#Licensed under the Apache License, Version 2.0 (the "License");
#you may not use this file except in compliance with the License.
#You may obtain a copy of the License at
#
#  http://www.apache.org/licenses/LICENSE-2.0
#
#Unless required by applicable law or agreed to in writing,
#software distributed under the License is distributed on an
#"AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
#KIND, either express or implied.  See the License for the
#specific language governing permissions and limitations
#under the License. -%>



<div id="wrapper">
  <div id="login_box">
    <div id="school-name"><%= current_school_name %></div>
    <div id="login-input-box">
      <div id="logo_area">
        <div id="top_logo">
          <%= image_tag current_school_detail.logo.url %>
        </div>
      </div>
      <% form_for :set_new_password do |form| %>

        <div id="login_area">

          <div id="username_textbox_bg">
            <%= form.password_field :new_password, :placeholder=>"New Password"%>
          </div>
          <div id="password_textbox_bg">
            <%= form.password_field :confirm_password,:placeholder=>"Confirm Password" %>
          </div>
          <div id="notice">
            <% if !flash.empty? %>
              <%= flash[:notice] %>
            <% end %>
          </div>

          <div id="submit_area">
            <%= submit_tag t('reset'), :class => "submit themed_bg" %>
          </div>

        </div>
      <% end %>
    </div>
  </div>
  <div id="powered_by_div">
    <%= t('powered_by') %> <a href=<%= "#{FedenaSetting.company_details[:company_url]}" %> target="_blank" class="themed_text"><%= FedenaSetting.company_details[:company_name] %> </a>
  </div>

</div>
