<div id="content-header">
<%= show_header_icon %>
  <h1><%= t('courses_text') %></h1>
<div class='header-sep'>|</div>
<div class='sub-header'><%= t('edit_subject_amount') %></div>

<div id="inner-tab-menu">
  <ul>
    <li class='themed_bg themed-dark-hover-background'><%= link_to "#{t('courses_text')}", courses_path %></li>
  </ul>
</div>

</div>
<div id="page-yield">
  <div class="box">
    <div class="bread_crumb">
      <%= link_to t('courses_text'),courses_path %> <div class = "bread-crumb-separator"> > </div>
      <%= t('assign_subject_amount') %>
    </div>

    <% unless flash[:notice].nil? %>
      <p class="flash-msg"> <%= flash[:notice] %> </p>
    <% end %>
    <% form_for :subject_amount,@subject_amount,:url => edit_subject_amount_courses_url(:subject_amount_id => @subject_amount.id) do |f| %>
      <%= f.error_messages %>
      <div class="label-field-pair">
        <label for="subjects"><%= t('subjects_text') %></label>
        <div class="text-input-bg"><%= f.select :code,@subjects.map{|subject| [subject.to_s,subject.to_s]} %></div>
      </div>

      <div class="label-field-pair">
        <label for="amount"><%= t('amount') %></label>
        <div class="text-input-bg"><%= f.text_field :amount,:value=> precision_label(@subject_amount.amount),:class=>"precision_text"%></div>
      </div>

      <%= f.submit "#{t('save')}", :class => "submit-button" %>
    <% end %>
    <div class="extender"></div>
  </div>
</div>









